<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TAO' Newsletter Tracker</title>
		<link rel="stylesheet" type="text/css" href="main.css">
		<script>
			window.data = {
				brands: <%- JSON.stringify(brands) %>,
				categories: <%- JSON.stringify(categories) %>
			}
		</script>
	</head>
	<body>
		<header><img src="taologo.png" /></header>

		<!-- File Upload -->
		<label>
			<form id="file-upload-form" action="/upload" method="POST" enctype="multipart/form-data">
				<input type="file" id="file-input" name="nlfile" />
				<input type="submit" />
			</form>
		</label>

		<!-- Filters -->
		<div id="filters">
			<!-- Date Filter -->
			<select class="filter" id="filter-date">
				<option data-month="" data-year="" value="">---</option>
				<% months.forEach(function(month) {
				%>
					<option data-month="<%= month.value.month %>" data-year="<%= month.value.year %>" value="<%= month._id %>">
						<%= month.value.monthLabel + ' ' + month.value.year %>
					</option>
				<% }); %>
			</select>
			<!-- Brands Filter -->
			<select class="filter" id="filter-brand">
				<option value="">---</option>
				<% brands.forEach(function(brand) {
				%>
					<option value="<%= brand.id %>"><%= brand.name %></option>
				<% }); %>
		 	</select>
			<!-- Category Filter -->
			<select class="filter" id="filter-category">
				<option value="">---</option>
				<% categories.forEach(function(cat) {
				%>
					<option value="<%= cat.id %>"><%= cat.name %></option>
				<% }); %>
			</select>
			<select class="filter" id="filter-list-style">
				<option selected value="list">List</option>
				<option value="grid">Grid</option>
			</select>
		</div>

		<!-- Newsletters -->
		<div id="main-content">
			<ul id="newsletter-list" class="list"></ul>
		</div>
		<script src="bundle.js"></script>
	</body>
</html>
